{% extends "model-page.html" %}

{% block content %}

<div class="container" style="border-style: solid; background-color: #FFFFFF;">
  <h2>Edit Profile</h2>

    <a href="/feed/">
        <button type="button">Main Feed</button>
    </a>
    <a href="/profile/">
        <button type="button">My Profile</button>
    </a>
</div>

<div class="container" style="margin-bottom: 30px"> </div>

<div class="container" style="border-style: solid; background-color: #FFFFFF;">

    <form action="submit" method="POST">{% csrf_token %}
    <label>Name</label>
    <input type="number" name="id_profile" value="{{ profile.id }}">
    <br>
    <input type="text" name="name" value="{{ profile.name }}">
    <br>
    <label>Last Name</label>
    <br>
    <input type="text" name="last_name" value="{{ profile.last_name }}">
    <br>
    <label>Birthday</label>
    <br>
    <input type="datetime-local" name="birthday" value="{{ profile.birthday }}">
    <br>
    <label>Description</label>
    <br>
    <textarea name="about_me" rows="5" cols="24">{{ profile.about_me }}</textarea>
    <br><br>
    <button type="submit">Save</button>
    <a href="/">
    <button type="button">Cancel</button>
    </a>
</form>

</div>

{% endblock %}