{% extends "model-page.html" %}

{% block content %}

<div class="container" style="border-style:solid; background-color: #FFFFFF;">
  <h2>Hello World!!!</h2>
  <p>This is the OurPlace Social Network! You can add friends, post content and participate in communities. Make yourself home : D</p>
</div>

<div class="container" style="margin-bottom: 30px"> </div>

<div class="container" style="border-style: solid; background-color: #FFFFFF;">
  <h2>Friends activities</h2>
  <p>Friends activities are listed here. You don't have any friends yet :(.</p>
</div>


<div class="container" style="border-style: solid; background-color: #FFFFFF;">

    {% for postagem in postagens %}
        <div class="container" style="border-style: solid; background-color: #FFFFFF;">
            <p> Post: {{ userfeed.user_post }} </p>
            <p> Posted in: {{ userfeed.date_post }} </p>
            <p> By: {{ userfeed.usuario }} </p>
        </div>
    {% endfor %}
</div>

{% endblock %}