{% extends "model-page.html" %}

{% block content %}

<div class="container" style="border-style: solid; background-color: #FFFFFF;">
{% for profile in profiles %}
  <h2>{{ profile.name }} {{ profile.last_name }}</h2>
{% endfor %}
    <div class="container">
        <a href="/">
            <button type="button">My Album</button>
        </a>
        <a href="/agenda/">
            <button type="button">My Schedule</button>
        </a>
        <a href="/edit_profile/">
            <button type="button">Edit Profile</button>
        </a>
    </div>
</div>

<div class="container" style="margin-bottom: 30px"> </div>

<div class="container" style="border-style: solid; background-color: #FFFFFF;">


<div class="row">

    <div class="col-9">
        {% for profile in profiles %}
            <h4>Intro</h4>

            <p>Birthday: {{ profile.birthday }}</p>
            <p>Last profile update: {{ profile.member_since }}</p>
            <p>User: {{ profile.usuario}}</p>
            <p>About me: {{ profile.about_me }}</p>
        {% endfor %}
    </div>


    <div class="container" style="margin-bottom: 30px"> </div>

<div class="container" style="border-style: solid; background-color: #FFFFFF;">

    <form action="submit" method="POST">{% csrf_token %}

    <label>Post</label>
    <br>
    <textarea name="user_post" rows="5" cols="80">{{ userfeed.user_post }}</textarea>
    <br><br>
    <button type="submit">Save</button>
    <a href="/">
    <button type="button">Cancel</button>
    </a>
    </form>
</div>
<div class="container" style="border-style: solid; background-color: #FFFFFF;">

    {% for postagem in postagens %}
        <div class="container" style="border-style: solid; background-color: #FFFFFF;">
            <p>Post: {{ userfeed.user_post }} </p>
            <p>Posted at:{{ userfeed.date_post }} </p>
            <p>By: {{ userfeed.usuario }} </p>
        </div>
    {% endfor %}
</div>

</div>
</div>
{% endblock %}